<!-- views/partials/header.ejs -->

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CIDRizer</a>
  <span class="navbar-text">
    Calculate and manage network allocations
  </span>
</nav>
