<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <% include ../partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <form>
                    <h4>Account Space</h4>
                    <div class="form-group">
                        <input id="user_input_account" class="form-control" type="text" placeholder="CIDR e.g. 10.1.0.0/20">
                    </div>
                    <h5>Optional, add VPCs/Subnet CIDR blocks inside of the account above...</h5>
                    <div class="form-group">
                        <textarea id="user_input_cidr" class="form-control" aria-label="With textarea" rows="5" placeholder="CIDR e.g. 10.1.0.0/24"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" id="blah" class="btn btn-primary">Calculate</button>
                    </div>
                </form>
                <p>Press 'Calculate' above, or use the button below to insert a random example...</p>
                <form>
                    <div class="form-group">
                        <button type="button" id="insertExamplesButton" class="btn btn-secondary" onclick "insertExample();">(insert random example)</button>
                    </div>
                </form>
            </div>


            <div class="col-8">
              <div class="card">
                <div id="results_div" class="card-body">(results here...)</div>
                <div class="d-none d-flex justify-content-center">
                  <div id="results_spinner" class="spinner-border" style="width: 3rem; height: 3rem; display: none; margin-top: 20px; margin-bottom: 20px;" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>



    <footer>
        <% include ../partials/footer %>
    </footer>

    <script>
        $(document).ready(function () {
            $("#blah").click(function () {
                $('#results_div').hide();
                $('#results_spinner').show();

                userInputAccount = $('#user_input_account').val();
                userInputCIDRBlocks = $('#user_input_cidr').val();
                $.ajax({
                    url: window.location + "do_cidr/",
                    type: "POST",
                    data: JSON.stringify({ userInput: userInputAccount + "\n" + userInputCIDRBlocks }),
                    dataType: "html",
                    contentType: "application/json; charset=utf-8",
                    success: function (response, status, http) {
                        $("#results_div").html(response);
                        $('#results_spinner').hide();
                        $('#results_div').show();
                    },
                    error: function (error) {
                        $('#results_spinner').hide();
                        $('#results_div').show();
                        alert('hmm, something went wrong');
                        // ... something unspecified.
                    }
                });
            });
        });

        // Indices for the following two vars are related.
        var exampleBank_Account = ['10.82.208.0/20',
        '192.168.100.0/24',
        '10.1.0.0/20'];
        var exampleBank_CIDRBlocks = ['10.82.217.128/27\n10.82.219.0/24',
        '',
        '10.1.2.0/24\n10.1.7.0/28'];

        var insertedExampleIndex = -1;
        function insertExample() {
            var newIndex = Math.floor(Math.random() * exampleBank_Account.length);
            while (newIndex == insertedExampleIndex) {
                // Don't display the same example consecutively
                newIndex = Math.floor(Math.random() * exampleBank_Account.length);
            }
            insertedExampleIndex = newIndex;
            $('#user_input_account').val(exampleBank_Account[insertedExampleIndex]);
            $('#user_input_cidr').val(exampleBank_CIDRBlocks[insertedExampleIndex]);
        }
        $('#insertExamplesButton').on('click', function (event) {
            event.preventDefault(); // To prevent following the link (optional)
            insertExample();
        });
    </script>

</body>

</html>
